@font-face {
  font-family: 'latohairline';
  src: url('../fonts/lato-hai-webfont.eot');
  src: url('../fonts/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-hai-webfont.woff') format('woff'),
  url('../fonts/lato-hai-webfont.ttf') format('truetype'),
  url('../fonts/lato-hai-webfont.svg#latohairline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latohairline_italic';
  src: url('../fonts/lato-haiita-webfont.eot');
  src: url('../fonts/lato-haiita-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-haiita-webfont.woff') format('woff'),
  url('../fonts/lato-haiita-webfont.ttf') format('truetype'),
  url('../fonts/lato-haiita-webfont.svg#latohairline_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-reg-webfont.eot');
  src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-reg-webfont.woff') format('woff'),
  url('../fonts/lato-reg-webfont.ttf') format('truetype'),
  url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}