@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,greek);

body {
  color: #444;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0 0 15px;
  padding: 0;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $light-blue;
  &:hover {
    text-decoration: underline;
    color: $light-blue;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
  li &.active {
    color: $light-blue;
  }
}

blockquote {
  margin: 40px 40px 24px;
  border-left: none;
  padding: 0;
  position: relative;
  color: #999;
  &::before {
    content: "\201C";
    display: block;
    font-size: 30px;
    left: -20px;
    top: 5px;
    position: absolute;
  }
  p {
    font-size: 14px;
    line-height: 160%;
    font-weight: 400;
  }
}

.element-invisible{
  display: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.form-text,
textarea{
  @extend .form-control;
  resize: none;
}

.grippie{
  display: none;
}

.form-submit{
  @extend .btn;
  @extend .btn-primary;
}

.locale-untranslated {
  text-decoration: none;
}

.page-content{
  .action-links,
  .links{
    li{
      a{
        @extend .btn;
        @extend .btn-primary;
      }
    }
    .page-blog & li{
      float: left;
      margin-right: 10px;
    }
  }
  .action-links{
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.no-scroll {
  overflow: hidden;
}

.form-type-select,
.form-type-textfield,
.form-type-textarea,
.form-type-checkbox,
.field-type-list-float{
  margin-bottom: 15px;
}

label{
  margin-bottom: 3px;
}

/*Heading*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 120%;
  padding: 0;
  margin: 20px 0 10px 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #444;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1.page-title {
  font-size: 32px;
}

/* Drupal status messages */

div.messages {
  padding: 15px 15px 15px 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-position: 13px 15px;
  a {
    font-weight: bold;
  }
  &.status {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    a {
      color: #356635;
    }
  }
  &.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1;
    a {
      color: #953b39;
    }
  }
  &.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
    a {
      color: #a47e3c;
    }
  }
}

.main-throbber{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background: #f00;
  z-index: 999;
  background: rgba(255,255,255,1) url('../images/throbber.gif') no-repeat center center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: none;
}

/* Header */

.page-header{
  background: transparent;
  padding: 15px 0;
  margin: 0;
  border: none;
  position: relative;
  z-index: 1;
  background: rgba(255,255,255, 0.5);
  h2{
    margin: 0;
  }
  .name-and-slogan{
    display: none;
  }
  .block-superfish{
    float: left;
  }
  .block-locale{
    float: right;
    width: 100%;
    max-width: 210px;
    text-align: center;
    li{
      display: inline-block;
      margin-left: 15px;
      &:first-child{
        margin-left: 0;
      }
      a{
        overflow: hidden;
      }
    }
  }

  .site-phone{
    float: right;
    text-align: center;
    min-width: 210px;
    clear: right;
    span{
      clear: both;
      display: block;
    }
    .phone{
      font-size: 24px;
    }
    .description{
      font-size: 18px;
    }
  }

  @media (min-width: 768px){
    .sf-menu{
      font-size: 16px;
      margin-top: 35px;
      li{
        margin-left: 15px;
        &:first-child{
          margin-left: 0;
        }
      }
      a{
        text-transform: uppercase;
        text-decoration: none;
        &:hover,
        &.active{
          color: #000;
        }
      }
    }
  }

  @media (max-width: 767px){
    .block-superfish{
      select{
        display: none;
      }
      .sf-menu{
        display: block !important;
        li{
          clear: both;
        }
      }
    }
  }
}

.footer{
  background: #495054;
  color: #fff;
  font-size: 12px;
  color: #666;
  margin-top: 50px;
  .footer-menu{
    padding: 15px 0 5px;
    li{
      float: left;
      margin: 0;
      font-size: 14px;
      margin-left: 25px;
      &:first-child{
        margin-left: 0;
      }
      a{
        color: #999;
      }
    }
  }
}

/* General styles */

.page-wrapper {
  width: 100%;
  margin: auto;
  > * > .inner{
    max-width: 1170px;
    margin: auto;
  }
  .front & .main-wrapper > .inner{
    max-width: 100%;
  }
  .main-wrapper{
    padding: 0 15px;
  }
}
.slider-wrapper{
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  ul{
    li{
      max-height: 500px;
      overflow: hidden;
      padding: 0;
    }
  }
  img{
    width: 100%;
  }
}

.carousel{
  .container{
    position: absolute;
    left: 120px;
    bottom: 0;
    display: table;
    max-width: 600px;
    @media (max-width: 999px){
      left: 0;
      max-width: 100%;
      padding: 0 110px;
    }
  }
  .carousel-caption{
    background: transparent;
    position: static;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  &:hover .carousel-caption{
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.left.carousel-control,
.right.carousel-control{
  position: absolute;
  width: 110px;
  height: 100%;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  border: 0;
  z-index: 10;
  top: auto;
  bottom: 0;
  margin: 0;
  &:hover{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  span{
    position: absolute;
    display: block;
    top: 50%;
    line-height: 1;
    margin: -70px 0 0 -18px;
    left: 50%;
  }
}
.left.carousel-control{
  left: 0;
}
.right.carousel-control{
  right: 0;
}

.slider-navigation{
  text-align: center;
  margin-top: -29px;
  bottom: 20px;
  > div{
    margin: 0;
    line-height: 25px;
    display: inline-block;
  }
  .slider-pager{
    position: relative;
    bottom: 15px;
    a{
      padding: 0 5px;
      margin: 0 5px;
      float: left;
      overflow: hidden;
      height: 25px;
      background: url('../images/slider-controls.png') no-repeat -96px 2px;
      text-indent: -100px;
      width: 18px;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      &.selected{
        background-position: -45px 2px;
      }
    }
  }
}

.front-three-col-block{
  margin-bottom: 20px;
  .highlighted-block{
    text-align: center;
    font-size: 17px;
    color: #555;
    position: relative;
    h6{
      position: absolute;
      top: 90px;
      left: 0;
      background: $light-blue;
      min-width: 64%;
      float: left;
      text-align: right;
      line-height: 36px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      font-size: 24px;
      border: none;
      a{
        color: #fff;
        padding: 0 15px;
        display: block;
        text-decoration: none;
      }
    }
  }
}

.front .pane-content-list{
  margin-top: 30px;
}

.hover-content-block{
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  position: relative;
  br{display: none;} //remove
  @media (max-width: 767px){
    margin-top: 30px;
    &:first-child{
      margin-top: 0;
    }
  }
  .hover-link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .hover-content-block-inner{
    position: relative;
    color: #fff;
    @media (max-width: 1199px){
      color: #333;
    }
  }  
  a{
    display: block;
    color: #333;
    position: relative;
    &:hover{
      text-decoration: none;
    }
    @media (min-width: 1200px){
      color: #fff;
    }
  }
  span{
    display: block;
  }

  .content{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 57px;
    @media (min-width: 1200px){
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 15px 15px;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  .title{
    font-size: 20px;
    text-transform: uppercase;
    @media (max-width: 1199px){
      margin-top: 15px;
    }
  }
  .text{
    margin-top: 10px;
    @media (min-width: 1200px){
      display: none;
    }
  }
  @media (min-width: 1200px){
    &:hover{
      .content{
        height: 172px;
      }
      .text{
        display: block;
      }
    }
  }
  &:hover{
    .hover-content-block-inner{
      .content{
        height: 195px;
      }
    }
  }
}

.highlighted-block{
  border: 1px solid #dedede;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  color: #555;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  .highlighted-block-inside{
    padding: 0 23px 30px;
  }
  h6{
    color: #555;
    font-size: 22px;
    margin-bottom: 15px
  }
  .field-name-body,
  .read-more{
    display: inline;
    *{
      display: inline;
    }
  }
}

#modalBackdrop{
  background: rgba(0,0,0,0.8) !important;
  max-width: 100%;
}
#modalContent{
  position: fixed !important;
  top: 0 !important;
}

.html{
  .ctools-modal-content{
    border: none;
    background: #f3f3f3;
    height: auto !important;
    padding: 0 50px;
    .modal-header{
      background: transparent;
      border: none;
      padding: 0;
    }
    .modal-content{
      padding: 0 0 20px;
    }
  }
}
.ctools-modal-content{
  max-width: 760px;
  .modal-header{
    .modal-title{
      color: #495054;
      font-size: 18px;
      text-transform: uppercase;
      padding: 20px 0 19px 0;
      display: block;
    }
    .close{
      opacity: 1;
      background: url('../images/close-btn.png') no-repeat 4px 3px;
      width: 28px;
      height: 28px;
      padding-top: 27px;
      margin: 0;
      overflow: hidden;
      -webkit-transition: 0;
      -moz-transition: 0;
      -ms-transition: 0;
      -o-transition: 0;
      transition: 0;
      position: absolute;
      top: 18px;
      right: 18px;
      &:hover{
        background-position: 4px -54px;
      }
    }
  }
  .modal-content{
    background: transparent;
    height: auto !important;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100% !important;
    padding: 20px 0;
  }
  .form-wrapper{
    @extend .clearfix;
    .form-wrapper{
      margin: 0;
    }
  }
  .form-submit{
    @extend .col-md-6;
    @extend .col-md-offset-3;
    @extend .col-sm-8;
    @extend .col-md-offset-2;
    @extend .col-xs-12;
    margin-bottom: 20px;
    float: none;
  }
}

.container-inline-date{
  .date-padding{
    padding: 0;
  }
  label{
    display: none;
  }
  .description{
    display: none;
  }
}

.field-name-field-number-of-children{
  .form-type-radio{
    float: left;
    width: 33.3%;
    position: relative;
    label{
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #555;
      vertical-align: middle;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    &:nth-child(1) label{
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      -ms-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
    }
    &:nth-child(3) label{
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      -ms-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
    }
    input{
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
    &.active label{
      color: #fff;
      background: #428bca;
      border-color: #357ebd;
    }
    &:hover label{
      color: #fff;
      background-color: #3276b1;
      border-color: #285e8e;
    }
  }
}

/* Chosen selects */

.chosen-container{
  width: 100% !important;
  position: relative;
  color: #555;
  .chosen-search{
    display: none;
  }
  .chosen-single{
    cursor: pointer;
    @extend .form-control;
    &:hover{
      text-decoration: none;
    }
    &:after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 7.5px 0 7.5px;
      border-color: #3276b1 transparent transparent transparent;
      position: absolute;
      right: 10px;
      top: 14px;
    }
  }
  .chosen-drop{
    display: none;
    position: absolute;
    width: 100%;
    top: 33px;
    left: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    background: #fff;
    li{
      padding: 5px 7px;
      &.result-selected,
      &.highlighted{
        background: #eaedf2;
      }
    }
  }
  &.chosen-with-drop{
    .chosen-single{
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }
    .chosen-drop{
      display: block;
    }
  }
}

/* Nodes */

.base-two-col-nodes .row{
  margin-bottom: 40px;
}
.left{
  @media (max-width: 767px){
    margin-bottom: 25px;
  }
  img{
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  }
}
.right{
  header h2{
    margin-top: -6px;
  }
}

.node-scenario{
  .field-name-field-main-image{
    img{
      -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    }
  }
  .field-name-field-image-list{
    position: relative;
    margin: 5px -5px 0;
    .field-item{
      float: left;
      max-width: 230px;
    }
    a {
      display: block;
      margin: 5px;
      -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    }

    .carousel-navigation{
      display: none;
      .nav-left,
      .nav-right{
        background: url('../images/slider-controls-dark.png') no-repeat -135px center;
        width: 20px;
        height: 100%;
        cursor: pointer;
        margin: 0 5px;
        position: absolute;
        top: 0;
        margin: 0;
        width: 25px;
        z-index: 1;
      }
      .nav-left{
        background-position: 6px center;
        left: 5px;
      }
      .nav-right{
        right: 5px;
      }
    }
    &:hover{
      .carousel-navigation{
        display: block;
      }
    }
  }

  .right{
    & > h2{
      margin: -7px 15px 10px 0;
    }
    .field-name-field-categories{
      font-size: 16px;
      margin-bottom: 15px;
      a{
        font-weight: bold;
      }
    }
  }
}

.field-name-field-related-scenario{
  float: left;
  a{
    margin-right: 10px;
    @extend .btn;
    @extend .btn-primary;
  }
}

.blog-inner{
  .left{
    float: left;
    margin-bottom: 10px;
    @media (max-width: 767px){
      margin-bottom: 15px;
    }
    img{
      max-width: 370px;
      @media (max-width: 1200px){
        max-width: 100%;
      }
    }
  }

  .right{
    overflow: hidden;
  }

  .field-name-field-tags {
    float: left;
    padding-top: 5px;
    .field-item {
      float: left;
      margin-right: 10px;
      a {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-primary;
        padding: 0px 8px;
      }
    }
  }
  .field-name-field-related-scenario {
    float: right;
    margin-bottom: 20px;
  }
  .field-name-body {
    clear: right;
  }
   @media (min-width: 797px){
    .right{
      display: inline;
      float: none;
    }
     .field-name-body,
     .field-name-field-image-list{
       padding: 0 15px;
     }
  }
}

.page-content{
  position: relative;
  .feed{
    position: absolute;
    top: 0;
    right: 0;
    a{
      width: 32px;
      height: 1px;
      padding: 31px 0 0 0;
      overflow: hidden;
      display: block;
      background: url('../images/feed.png') no-repeat 0 0;
      background-size: 32px;
    }
  }
}

.region-content .pager{
  li{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0 5px;
    overflow: hidden;
    font-size: 11px;
    text-align: center;
    a{
      display: block;
      padding: 0;
      margin: 0;
      color: #666;
      background: transparent;
      border: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      &:hover{
        background: transparent;
      }
    }
  }

  .pager-item,
  .pager-current{
    width: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #F0F0F0;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover,
    &.pager-current{
      background: $light-blue;
      text-decoration: none;
      color: #fff;
      a{
        color: #fff;
      }
    }
  }
}

#map-canvas{
  margin-top: 0 !important;
  min-height: 500px;
  @media (max-width: 767px){
    min-height: 300px;
  }
}

.right{
  font-size: 13px;
  color: #333;
  ul{
    li{
      padding: 0;
    }
    &:not('.links'){
      list-style: disc;
      padding-left: 40px;
      margin :0 0 15px;
      li{
        padding-left: 10px;
      }
    }
  }
  .btn-category{
    background: #a2d37c;
    border: none;
    margin: 0 0 15px;
    width: 100%;
    max-width: 287px;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    > div{
      display: inline-block;
      div{
        font-weight: bold;
      }
    }
    a{
      color: #fff;
      font-weight: bold;
    }
  }
  .price-wrapper,
  .price,
  .field-name-field-price-for-1-person,
  .field-name-field-price-for-2-person{
    float: left;
  }
  .price{
    font-size: 30px;
    margin-right: 8px;
  }
  .price-btn{
    cursor: default;
    background: #7aaeda;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin-top: 5px;
    font-size: 24px;
    padding: 2px 12px;
    div{
      font-weight: bold;
    }
    .field-label{
      display: none;
    }
  }
  .sale-wrapper{
    float: right;
    .price-btn{
      background: #e48684;
    }
  }
  .order{
    clear: both;
    padding-top: 30px;
    margin-bottom: 20px;
    a{
      color: #fff;
      max-width: 358px;
      width: 100%;
      display: block;
      margin: auto;
      font-weight: bold;
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-lg;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .submitted {
    font-size: 11px;
    color: #666;
    margin-bottom: 15px;
  }
}

.order{
  .ajax-progress{
    display: none;
  }
}

.content-phone-description,
.content-phone{
  text-align: center;
  font-size: 14px;
  margin: 5px;
}
.content-phone{
  font-size: 24px;
}

header h2{
  margin-top: 0;
}

.col-second .panel-pane{
  background: #f9f9f9;
  box-shadow: 0px 1px 3px 0 rgba(53,126,189, 0.4);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin-bottom: 20px;
  h2{
    margin: 0;
    font-size: 16px;
    color: #3276b1;
    padding: 10px;
    border-bottom: 1px solid rgba(53,126,189, 0.2);
  }
  .pane-content{
    padding: 5px 0 8px;
  }
  .item-list{
    li{
      padding: 5px 10px;
      font-size: 13px;
      text-transform: capitalize;
    }
  }
}

.node-type-blog .field-name-field-image-list{
  margin-top: 20px;
  .field-item {
    display: inline-block;
    cursor: pointer;
    height: auto;
    margin: 0 2% 15px 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    @media (min-width: 900px){
      width: 23.5%;
      &:nth-child(3n+4){
        margin-right: 0;
      }
    }
    @media (min-width: 641px) and (max-width: 899px){
      width: 32%;
      margin-right: 2%;
      &:nth-child(3n+3){
        margin-right: 0;
      }
    }
    @media (max-width: 640px){
      width: 48%;
      margin-right: 4%;
      &:nth-child(2n+2){
        margin-right: 0;
      }
    }

    &:hover{
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
    img {
      width: 100%;
    }
  }
}
