@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,greek);

body {
  color: #444;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0 0 15px;
  padding: 0;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $light-blue;
  &:hover {
    text-decoration: underline;
    color: $light-blue;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
  li &.active {
    color: $light-blue;
  }
}

blockquote {
  margin: 40px 40px 24px;
  border-left: none;
  padding: 0;
  position: relative;
  color: #999;
  &::before {
    content: "\201C";
    display: block;
    font-size: 30px;
    left: -20px;
    top: 5px;
    position: absolute;
  }
  p {
    font-size: 14px;
    line-height: 160%;
    font-weight: 400;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.form-text,
textarea{
  @extend .form-control;
  resize: none;
}

.grippie{
  display: none;
}

.form-submit{
  @extend .btn;
  @extend .btn-primary;
}

.page-content{
  .action-links,
  .links{
    li{
      a{
        @extend .btn;
        @extend .btn-primary;
      }
    }
    .page-blog & li{
      float: left;
      margin-right: 10px;
    }
  }
  .action-links{
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.form-type-select,
.form-type-textfield,
.form-type-textarea,
.form-type-checkbox,
.field-type-list-float{
  margin-bottom: 15px;
}

label{
  margin-bottom: 3px;
}

/*Heading*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 120%;
  padding: 0;
  margin: 20px 0 10px 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #444;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1.page-title {
  font-size: 32px;
}

/* Drupal status messages */

div.messages {
  padding: 15px 15px 15px 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-position: 13px 15px;
  a {
    font-weight: bold;
  }
  &.status {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    a {
      color: #356635;
    }
  }
  &.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1;
    a {
      color: #953b39;
    }
  }
  &.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
    a {
      color: #a47e3c;
    }
  }
}

/* Header */

.page-header{
  background: transparent;
  padding: 15px 0 0;
  margin: 0;
  border: none;
  h2{
    margin: 0;
  }
  .name-and-slogan{
    display: none;
  }
  .block-superfish{
    float: left;
  }
  .block-locale{
    margin-top: 35px;
    float: right;
    li{
      float: left;
      margin-left: 15px;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .sf-menu{
    font-size: 16px;
    margin-top: 35px;
    li{
      margin-left: 15px;
      &:first-child{
        margin-left: 0;
      }
    }
    a{
      text-transform: uppercase;
      text-decoration: none;
      padding-bottom: 42px;
      &:hover,
      &.active{
        padding-bottom: 33px;
        border-bottom: 9px solid $light-blue;
      }
    }
  }
}

.footer{
  background: #495054;
  color: #fff;
  font-size: 12px;
  color: #666;
  margin-top: 50px;
  .footer-menu{
    padding: 15px 0 5px;
    li{
      float: left;
      margin: 0;
      font-size: 14px;
      margin-left: 25px;
      &:first-child{
        margin-left: 0;
      }
      a{
        color: #999;
      }
    }
  }
}

/* General styles */

.page-wrapper {
  width: 100%;
  margin: auto;
  > * > .inner{
    max-width: 1170px;
    margin: auto;
  }
  .front & .main-wrapper > .inner{
    max-width: 100%;
  }
  .main-wrapper{
    padding: 0 10px;
  }
}

.slider-wrapper{
  margin-bottom: 30px;
  ul{
    li{
      max-height: 500px;
      overflow: hidden;
      padding: 0;
    }
  }
  img{
    width: 100%;
  }
}

.slider-navigation{
  text-align: center;
  margin-top: -29px;
  bottom: 20px;
  > div{
    margin: 0;
    line-height: 25px;
    display: inline-block;
  }
  .pager{
    position: relative;
    bottom: 15px;
    a{
      padding: 0 5px;
      margin: 0 5px;
      float: left;
      overflow: hidden;
      height: 25px;
      background: url('../images/slider-controls.png') no-repeat -96px 2px;
      text-indent: -100px;
      width: 18px;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      &.selected{
        background-position: -45px 2px;
      }
    }
  }
  .nav-left,
  .nav-right{
    position: absolute;
    top: 0;
    height: 100%;
    width: 15%;
    max-width: 135px;
    margin: 0;
    cursor: pointer;
    &:hover{
      background-color: rgba(0,0,0,0.2);
    }
    &:after{
      content: '';
      width: 54px;
      height: 102px;
      background: url('../images/slider-arrows.png') no-repeat 0 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -51px 0 0 -32px;
    }
  }
  .nav-left{
    left: 0;
    &:after{
      background-position: 0 0;
    }
    &:hover{
      &:after{
        background-position: -135px 0;
      }
    }
  }
  .nav-right{
    right: 0;
    &:after{
      background-position: -69px 0;
    }
    &:hover{
      &:after{
        background-position: -202px 0;
      }
    }
  }
}

.field-name-field-image-list{
  position: relative;
  .carousel-navigation{
    display: none;
    .nav-left,
    .nav-right{
      background: url('../images/slider-controls-dark.png') no-repeat -135px center;
      width: 20px;
      height: 100%;
      cursor: pointer;
      margin: 0 5px;
      position: absolute;
      top: 0;
      margin: 0;
      width: 25px;
      z-index: 1;
    }
    .nav-left{
      background-position: 6px center;
      left: 5px;
    }
    .nav-right{
      right: 5px;
    }
  }
  &:hover{
    .carousel-navigation{
      display: block;
    }
  }
}

.front-three-col-block{
  margin-bottom: 20px;
  .highlighted-block{
    text-align: center;
    font-size: 17px;
    color: #555;
    position: relative;
    h6{
      position: absolute;
      top: 90px;
      left: 0;
      background: $light-blue;
      min-width: 64%;
      float: left;
      text-align: right;
      line-height: 36px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      font-size: 24px;
      border: none;
      a{
        color: #fff;
        padding: 0 15px;
        display: block;
        text-decoration: none;
      }
    }
  }
}

.front-three-col-block .row > div{
  text-align: center;
  font-size: 17px;
  color: #555;
  position: relative;
  .image{
    position: relative;
  }
  .title{
    position: absolute;
    bottom: 20px;
    left: 0;
    background: rgba(62, 139, 202, 0.8);
    min-width: 64%;
    float: left;
    text-align: right;
    line-height: 36px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 24px;
    border: none;
    a{
      color: #fff;
      padding: 0 15px;
      display: block;
      text-decoration: none;
    }
  }
  .content{
    margin-top: 20px;
  }
}

.highlighted-block{
  border: 1px solid #dedede;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  color: #555;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  .highlighted-block-inside{
    padding: 0 23px 30px;
  }
  h6{
    color: #555;
    font-size: 22px;
    margin-bottom: 15px
  }
  .field-name-body,
  .read-more{
    display: inline;
    *{
      display: inline;
    }
  }
}

#modalBackdrop{
  background: rgba(0,0,0,0.8) !important;
}

.html{
  .ctools-modal-content{
    border: none;
    background: #f3f3f3;
    height: auto !important;
    padding: 0 50px;
    .modal-header{
      background: transparent;
      border: none;
      padding: 0;
    }
    .modal-content{
      padding: 0 0 20px;
    }
  }
}
.ctools-modal-content{
  max-width: 760px;
  .modal-header{
    .modal-title{
      color: #495054;
      font-size: 18px;
      text-transform: uppercase;
      padding: 20px 0 19px 0;
      display: block;
    }
    .close{
      opacity: 1;
      background: url('../images/close-btn.png') no-repeat 4px 3px;
      width: 28px;
      height: 28px;
      padding-top: 27px;
      margin: 0;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: 0;
      -ms-transition: 0;
      -o-transition: 0;
      transition: 0;
      position: absolute;
      top: 18px;
      right: 18px;
      &:hover{
        background-position: 4px -54px;
      }
    }
  }
  .modal-content{
    background: transparent;
    height: auto !important;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100% !important;
    padding: 20px 0;
  }
  .form-wrapper{
    @extend .clearfix;
    .form-wrapper{
      margin: 0;
    }
  }
  .form-submit{
    @extend .col-md-6;
    @extend .col-md-offset-3;
    @extend .col-sm-8;
    @extend .col-md-offset-2;
    @extend .col-xs-12;
  }
}

.container-inline-date{
  .date-padding{
    padding: 0;
  }
  label{
    display: none;
  }
  .description{
    display: none;
  }
}

.field-name-field-number-of-children{
  .form-type-radio{
    float: left;
    width: 33.3%;
    position: relative;
    label{
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #555;
      vertical-align: middle;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    &:nth-child(1) label{
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      -ms-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
    }
    &:nth-child(3) label{
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      -ms-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
    }
    input{
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
    &.active label{
      color: #fff;
      background: #428bca;
      border-color: #357ebd;
    }
    &:hover label{
      color: #fff;
      background-color: #3276b1;
      border-color: #285e8e;
    }
  }
}

/* Chosen selects */

.chosen-container{
  width: 100% !important;
  position: relative;
  color: #555;
  .chosen-search{
    display: none;
  }
  .chosen-single{
    cursor: pointer;
    @extend .form-control;
    &:hover{
      text-decoration: none;
    }
  }
  .chosen-drop{
    display: none;
    position: absolute;
    width: 100%;
    top: 33px;
    left: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    background: #fff;
    li{
      padding: 5px 7px;
      &.result-selected,
      &.highlighted{
        background: #eaedf2;
      }
    }
  }
  &.chosen-with-drop{
    .chosen-single{
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }
    .chosen-drop{
      display: block;
    }
  }
}

/* Nodes */

.base-two-col-nodes .row{
  margin-bottom: 40px;
}
.left{
  @media (max-width: 767px){
    margin-bottom: 25px;
  }
  img{
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  }
}
.right{
  header h2{
    margin-top: -6px;
  }
}

.node-scenario{
  .field-name-field-main-image{
    img{
      -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    }
  }
  .field-name-field-image-list{
    position: relative;
    margin: 5px -5px 0;
    .field-item{
      float: left;
    }
    a {
      display: block;
      margin: 5px;
      -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    }
  }
}

.field-name-field-related-scenario{
  float: left;
  a{
    margin-right: 10px;
    @extend .btn;
    @extend .btn-primary;
  }
}

.blog-inner{
  .left{
    float: left;
    padding: 0 15px 5px 0;
    @media (max-width: 767px){
      margin-bottom: 15px;
    }
    img{
      max-width: 370px;
      @media (max-width: 767px){
        max-width: 100%;
      }
    }
  }
  .right{
    display: inline;
    float: none;
  }
}

.page-content{
  position: relative;
  .feed{
    position: absolute;
    top: 0;
    right: 0;
    a{
      width: 32px;
      height: 1px;
      padding: 31px 0 0 0;
      overflow: hidden;
      display: block;
      background: url('../images/feed.png') no-repeat 0 0;
      background-size: 32px;
    }
  }
}

.region-content .pager{
  a{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #F0F0F0;
    text-align: center;
    font-size: 11px;
    margin: 0 5px;
    color: #666;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    &:hover,
    &.selected{
      background: $light-blue;
      text-decoration: none;
      color: #fff;
    }
  }
}

#map-canvas{
  margin-top: 0 !important;
}